/* Import Font Dancing Script */
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(img_fond/Test.gif);
}

/* raccourci avec var() */

:root {
	--primary-color: #ffff;
	--primary-color-dark: #9333ea;
	--secondary-color: #ca8a04;
	--text-dark: #1f2937;
	--text-light: #6b7280;
	--extra-light: #faf5ff;
	--max-width: 1200px;
}

/* Début du css de la navbar */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

header {
	font-family: "Poppins", sans-serif;
}

nav {
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: blueviolet;
    height: 100%;
    z-index: 99;
    display: flex;
    flex-direction: column;
}

.nav__content {
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

nav .logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    transition: 0.3s;
}

nav .logo a:hover {
    color: #ca8a04;
}

ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

nav ul {
    flex-direction: column;
}

ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: #ffffff;
    transition: 0.3s;
}

nav ul li a:hover {
    border-left-color: #ca8a04;
    color: #ca8a04;
}

.content {
    margin-left: 200px;
    padding: 16px;
    overflow-y: auto;
}

/* Fin du css de la navbar */

body {
    background-color: #e8f5ff;
    overflow: hidden;
}

/* NavbarTop */
.navbar-top {
    background-color: #fff;
    color: #333;
    box-shadow: 0px 4px 8px 0px grey;
    height: 70px;
}

.title {
    padding-top: 15px;
    position: absolute;
    left: 55%;
}

.navbar-top ul {
    float: right;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 18px 50px 0 40px;
}

.navbar-top ul li {
    float: left;
}

.navbar-top ul li a {
    color: #333;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.icon-count {
    background-color: #ff0000;
    color: #fff;
    float: right;
    font-size: 11px;
    left: -25px;
    padding: 2px;
    position: relative;
}

/* End */

/* Main */
.main {
    margin-top: 1%;
    margin-left: 32%;
    font-size: 28px;
    padding: 0 10px;
    width: 52%;
}

.main h2 {
    color: #9333ea;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.main .card {
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 grey;
    height: auto;
    margin-bottom: 20px;
    padding: 20px 0 20px 50px;
}

.main .card table {
    border: none;
    font-size: 16px;
    height: 270px;
    width: 80%;
}

.edit {
    position: absolute;
    color: #e7e7e8;
    right: 14%;
}

.social-media {
    text-align: center;
    width: 90%;
}

.social-media span {
    margin: 0 10px;
    cursor: pointer;
}

.fa-facebook:hover {
    color: #4267b3 !important;
}

.fa-twitter:hover {
    color: #1da1f2 !important;
}

.fa-instagram:hover {
    color: #ce2b94 !important;
}

.fa-invision:hover {
    color: #f83263 !important;
}

.fa-youtube:hover {
    color: #ff0000 !important;
}

.fa-whatsapp:hover {
    color: #25d366 !important;
}

.fa-snapchat:hover {
    color: #fffb01 !important;
}

/* End */

section.card {
    margin: 50px 0;
}

.card .col3 {
	width: 30%;
	margin-right: 60px;
	background: #fff;
	border-radius: 2px;
}

.card .profileinfo {
    text-align: center;
    padding: 0 10px 10px;
    color: #555;
    font-size: 14px;
    line-height: 10px;
}
.card .profileinfo img {
    border-radius: 50%;
    width: 80px;
    padding: 2px;
    border: 3px solid #6AAFEA;
    margin-top: -48px;
}
.card .col3.center .profileinfo img {
    border: 3px solid #FB4C22;

}
.card .profileinfo p {
	text-align: justify;
}
.card .profileinfo span {
	margin-top: 15px;
    display: block;
    text-align: left;
    color: #6AAFEA;
    cursor: pointer;
}
.card .profileinfo span i {
	margin-left: 10px;
}